<h2><%=@book.name%></h2>

<p><b>Price:</b> <%=@book.price%></p>
<p><b>Total Quantity:</b> <%=@book.total_quantity%></p>
<p><b>Available Quantity:</b> <%=@book.available_quantity%></p>
<p><b>Author:</b> <%=@book.author.name%></p>

<p><%=link_to "Back to Books", root_path%></p>

